<header>
  <h1>Mystery Word Game</h1>
  <h3>You have {{{}}} guesses left!</h3>
</header>
{{#word}} // word is a placeholder for now
<div class="word_container">
  <div class="letter_box">
    {{.}}
  </div>
</div>
{{/word}} // word is a placeholder for now
